<h1 class="text-center">LOGIN</h1><br>

<% if(error.length > 0) { %>
    <div class="alert alert-danger" role="alert">
        <%= error %>
    </div>
<% } %> 

<form action="/login" method="post">
    <label>Username: </label><br>
    <input class="form-control" type="text" name="username">
    <label>Password: </label><br>
    <input class="form-control" type="text" name="password"><br>
    <input class="btn btn-primary w-100" type="submit" name="sumbit">
</form>